body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4caf50, #e5ece5);
    color: #fff;
    overflow-x: hidden;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select, textarea, button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    width: 99%;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

textarea {
    resize: none;
    height: 100px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.floating-box {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: float 5s infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}


nav {
    background-color: #0056b3; /* Blue background */
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #cce6ff; /* Light blue on hover */
}

/* User Char and Details Styling */
#userChar {
    color: white;
    background-color: #003d80;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

#userDetails {
    color: white;
    margin-top: 5px;
    font-size: 14px;
}
