body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.admin-container {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead tr {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    font-weight: bold;
}

@media (max-width: 768px) {
    .admin-container {
        width: 100%;
        margin: 10px auto;
    }

    h1 {
        font-size: 20px;
    }

    table {
        font-size: 12px;
        word-wrap: break-word;
    }

    th, td {
        padding: 8px;
        font-size: 12px;
    }

    thead tr {
        font-size: 13px;
    }

    body {
        margin: 10px;
    }
}


nav {
    background-color: #0056b3; /* Blue background */
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #cce6ff; /* Light blue on hover */
}

/* User Char and Details Styling */
#userChar {
    color: white;
    background-color: #003d80;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

#userDetails {
    color: white;
    margin-top: 5px;
    font-size: 14px;
}
